* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

// Variables

$font-color: rgb(169, 169, 169);
$row-width: 85%;

body {
  background-image: url("../images/Background.jpg");
  background-size: cover;
}

// Header section

.header_logo {
  display: flex;
  justify-content: center;
  margin: 50px 0 30px 0;
  height: 160px;
}

.masterlab_logo {
  opacity: 0.5;
  width: 50%;
}

.masterlab_logo:hover {
  opacity: 1;
}

// Forms section

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.left_column,
.right_column {
  width: 40%;
  height: 100%;
}

.form {
  background-color: white;
  box-shadow: 0px 0px 0px 14px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 20px 0;
}

.form_title {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.form_input_row {
  display: flex;
  justify-content: center;
  width: $row-width;
  margin: 25px auto;
  line-height: 40px;
  border: 1px solid $font-color;
  border-radius: 5px;
  color: $font-color;
}

.form_input {
  display: block;
  width: 90%;
}

.form_input_input {
  display: block;
  width: 100%;
  padding-left: 10px;
  line-height: 39px;
  border: transparent;
  border-radius: 5px;
}

.form_input_input::placeholder {
  color: $font-color;
}

.form_icon {
  width: 50px;
}

.form_icon:before {
  content: "";
  display: block;
  position: relative;
  left: 95%;
  top: 4px;
  width: 1px;
  height: 34px;
  background-color: #e0e0e0;
}

.icon_user {
  background: url("../images/user.svg") no-repeat scroll center;
}

.icon_email {
  background: url("../images/email.svg") no-repeat scroll center;
}

.icon_password {
  background: url("../images/lock.svg") no-repeat scroll center;
}

.icon_localization {
  background: url("../images/mark.svg") no-repeat scroll center;
}

.icon_phone_number {
  background: url("../images/phone.svg") no-repeat scroll center;
}

.submit {
  height: 41px;
  border-radius: 3px;
  box-shadow: 0.5px 0.866px 0px #ffffff;
  background-color: #93d02b;
  border: 1px solid #3b9a00;
  font-size: 1.5rem;
  color: #ffffff;
  font-family: "Titillium Text22 L";
  font-weight: 500;
  cursor: pointer;
}

button {
  @extend.submit;
}

.checkbox_input {

  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox_input:checked~.checkmark {
  background-image: url('../images/green_shape.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.checkmark {
  position: relative;
  top: 2px;
  height: 23px;
  width: 23px;
  margin-right: 10px;
  border-radius: 3px;
  box-shadow: 1px 1.732px 0px #ffffff;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  cursor: pointer;
}


.checkbox_label {
  display: flex;
}

// Register form section

.register_form {
  margin: 50px auto;
}

.register_form_select {
  color: $font-color;
  height: 35px;

  .register_form_option {
    color: black;
  }
}

.register_checkbox_row {
  width: $row-width;
  margin: 15px auto;
  color: $font-color;
  font-size: 1.1rem;
}

.register_submit {
  display: block;
  width: $row-width;
  margin: 0 auto;
}

// Send mail section

.send_mail_form {
  margin: 50px auto;
}

.send_mail_textarea {
  width: $row-width;
  height: 230px;
  margin: 10px auto;
  resize: vertical;
  color: $font-color;
  font-size: 1.1rem;
}


.send_email_checkbox_row {
  @extend .register_checkbox_row;
}


.send_email_submit {
  @extend .register_submit;
}

// Sign in section


.sign_in_form {
  margin: 50px auto;
}

.sign_in_form_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 15px auto 15px auto;
  color: $font-color;
  font-size: 1.1rem;
}

.sign_in_submit {
  width: 41.04%;
}

// Recover section


.recover_form {
  margin: 50px auto;
}

.recover_form_footer {
  @extend .sign_in_form_footer;
}

.recover_submit {
  @extend .sign_in_submit;
}

.recover_button {
  @extend .sign_in_submit;
  background-color: #bcdb97;
  border: 1px solid #90ca6d;
}

// Subscribe section

.subscribe_form {
  margin: 50px auto;
}

.subscribe_form_footer {
  @extend .sign_in_form_footer;
}

.subscribe_submit {
  @extend .sign_in_submit;
}

.subscribe_button {
  @extend .sign_in_submit;
  background-color: #f4495b;
  border: 1px solid #a2202a;
}

.footer_logo {
  @extend .masterlab_logo;
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 80px auto;
}

.footer_logo_img {
  width: 250%;
}

// Media queries

@media (max-width:1199px) {

  .checkmark {
    top: 0;
  }

  .register_checkbox_row,
  .sign_in_checkbox_row {
    font-size: 0.8rem;
  }
}

@media (max-width:975px) {

  .register_checkmark {
    top: 8px;
  }

  .subscribe_button,
  .subscribe_submit {
    font-size: 1.2rem;
  }
}

@media (max-width:840px) {

  .checkmark {
    top: 2px;
  }

  .masterlab_logo {
    width: 70%;
  }

  .wrapper {
    flex-direction: column;
  }

  .left_column,
  .right_column {
    width: 80%;
    margin: 0 auto;
  }

  .register_checkbox_row,
  .sign_in_checkbox_row {
    font-size: 1.1rem;
  }

  .sign_in_form {
    margin-top: 0;
  }

  .subscribe_button,
  .subscribe_submit {
    font-size: 1.5rem;
  }
}

@media (max-width:651px) {

  .checkmark {
    top: 0;
  }

  .register_checkbox_row,
  .sign_in_checkbox_row {
    font-size: 0.8rem;
  }

  .header_logo {
    height: 100px;
  }

  .subscribe_button,
  .subscribe_submit {
    font-size: 1.2rem;
  }

  .footer_logo_img {
    width: 155%;
  }
}

@media (max-width:494px) {
  .register_checkmark {
    top: 8px;
  }
}

@media (max-width:405px) {

  .sign_in_checkbox_row {
    font-size: 0.7rem;
  }

  .subscribe_button,
  .subscribe_submit {
    font-size: 1rem;
  }
}